In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('../input/aggregated-income.csv')

In [9]:
df.head(5)

,age,became_member_on,gender,id,income,became_member_year,age_categories,person,total_amount,total_transactions,...,total_planned_reward_payout,converted_email_touchpoints,converted_mobile_touchpoints,converted_social_touchpoints,converted_web_touchpoints,total_average_duration,completed_average_duration,total_average_difficulty,completed_average_difficulty,income_binned
0,118,2017-02-12,N,68be06ca386d4c31939f3a4f0e3dd783,64000.0,2017,Missing,68be06ca386d4c31939f3a4f0e3dd783,20.0,9,...,14.0,2.0,2.0,2.0,2.0,9.0,8.0,11.0,8.0,60k-69k
1,55,2017-07-15,F,0610b486422d4921ae7d2bf64640c50b,112000.0,2017,50-59,0610b486422d4921ae7d2bf64640c50b,77.0,3,...,5.0,1.0,1.0,0.0,1.0,6.0,7.0,2.0,5.0,110k-120k
2,118,2018-07-12,N,38fe809add3b4fcf9315a9694bb96ff5,64000.0,2018,Missing,38fe809add3b4fcf9315a9694bb96ff5,14.0,6,...,5.0,0.0,0.0,0.0,0.0,5.0,0.0,2.0,0.0,60k-69k
3,75,2017-05-09,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0,2017,70-79,78afa995795e4d85b5d9ceeca43f5fef,159.0,7,...,20.0,3.0,3.0,2.0,2.0,6.0,6.0,5.0,7.0,90k-99k
4,118,2017-08-04,N,a03223e636434f42ac4c3df47e8bac43,64000.0,2017,Missing,a03223e636434f42ac4c3df47e8bac43,5.0,3,...,15.0,0.0,0.0,0.0,0.0,7.0,0.0,12.0,0.0,60k-69k

In [10]:
df.columns

Index(['age', 'became_member_on', 'gender', 'id', 'income',
       'became_member_year', 'age_categories', 'person', 'total_amount',
       'total_transactions', 'total_offers_received', 'total_offers_viewed',
       'total_offers_completed', 'total_offers_bogo', 'total_offers_discount',
       'total_offers_informational', 'converted_bogo', 'converted_discount',
       'converted_informational', 'all_events_count', 'events_avg_time_diff',
       'total_reward_payout', 'total_planned_reward_payout',
       'converted_email_touchpoints', 'converted_mobile_touchpoints',
       'converted_social_touchpoints', 'converted_web_touchpoints',
       'total_average_duration', 'completed_average_duration',
       'total_average_difficulty', 'completed_average_difficulty',
       'income_binned'],
      dtype='object')

In [11]:
df = df.loc[:, ['gender', 
           'became_member_year', 
           'age_categories',
           'income_binned',
           'total_offers_bogo', 
           'total_offers_discount',
           'converted_bogo',
           'converted_discount'
          ]]

df['conversion_rate_bogo'] = df['converted_bogo'].div(df['total_offers_bogo'].where(df['total_offers_bogo'] != 0, np.nan))
df['conversion_rate_discount'] = df['converted_discount'].div(df['total_offers_discount'].where(df['total_offers_discount'] !=0, np.nan))

In [12]:
df = df.fillna(0)

In [13]:
df.head(5)

,gender,became_member_year,age_categories,income_binned,total_offers_bogo,total_offers_discount,converted_bogo,converted_discount,conversion_rate_bogo,conversion_rate_discount
0,N,2017,Missing,60k-69k,0.0,5.0,0.0,2.0,0.0,0.4
1,F,2017,50-59,110k-120k,1.0,0.0,1.0,0.0,1.0,0.0
2,N,2018,Missing,60k-69k,1.0,0.0,0.0,0.0,0.0,0.0
3,F,2017,70-79,90k-99k,3.0,0.0,3.0,0.0,1.0,0.0
4,N,2017,Missing,60k-69k,0.0,3.0,0.0,0.0,0.0,0.0

In [14]:
def offer_type(df):
    #bogo = (df['conversion_rate_bogo'] > 0.6) | np.bitwise_and(df['conversion_rate_discount'] == 0, df['conversion_rate_bogo'] > 0.19)
    #discount = (df['conversion_rate_discount'] > 0.6) | np.bitwise_and(df['conversion_rate_bogo'] == 0, df['conversion_rate_discount'] > 0.19)
    #indifferent = np.bitwise_and(df['conversion_rate_bogo'] > 0.3, df['conversion_rate_discount'] > 0.3)
    bogo = df['conversion_rate_bogo'] > 0.2
    discount = df['conversion_rate_discount'] > 0.2
    if bogo:
        return 'bogo'
    elif discount:
        return 'discount'
    else:
        return 'none'

df['offer_type'] = df.apply(offer_type, axis=1)

In [15]:
df.head(5)

,gender,became_member_year,age_categories,income_binned,total_offers_bogo,total_offers_discount,converted_bogo,converted_discount,conversion_rate_bogo,conversion_rate_discount,offer_type
0,N,2017,Missing,60k-69k,0.0,5.0,0.0,2.0,0.0,0.4,discount
1,F,2017,50-59,110k-120k,1.0,0.0,1.0,0.0,1.0,0.0,bogo
2,N,2018,Missing,60k-69k,1.0,0.0,0.0,0.0,0.0,0.0,none
3,F,2017,70-79,90k-99k,3.0,0.0,3.0,0.0,1.0,0.0,bogo
4,N,2017,Missing,60k-69k,0.0,3.0,0.0,0.0,0.0,0.0,none

In [16]:
print(df.shape)
print(df['offer_type'].value_counts())

(17000, 11)
bogo        9243
none        4267
discount    3490
Name: offer_type, dtype: int64

In [17]:
df = df.drop(columns=['total_offers_bogo', 'total_offers_discount', 'converted_bogo', 'converted_discount', 'conversion_rate_bogo', 'conversion_rate_discount'], axis=1)

In [18]:
df.head(5)

  gender  became_member_year age_categories income_binned offer_type
0      N                2017        Missing       60k-69k   discount
1      F                2017          50-59     110k-120k       bogo
2      N                2018        Missing       60k-69k       none
3      F                2017          70-79       90k-99k       bogo
4      N                2017        Missing       60k-69k       none

In [19]:
df = pd.get_dummies(df, columns=['age_categories', 'income_binned', 'became_member_year', 'gender'])

In [20]:
df.head(5)

,offer_type,age_categories_10-19,age_categories_20-29,age_categories_30-39,age_categories_40-49,age_categories_50-59,age_categories_60-69,age_categories_70-79,age_categories_80-89,age_categories_Missing,...,became_member_year_2013,became_member_year_2014,became_member_year_2015,became_member_year_2016,became_member_year_2017,became_member_year_2018,gender_F,gender_M,gender_N,gender_O
0,discount,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
1,bogo,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,none,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
3,bogo,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
4,none,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0

In [21]:
df = df.loc[df['offer_type'] != 'none', :]

In [49]:
from sklearn.preprocessing import LabelEncoder


X = df.drop('offer_type', axis=1)
y = df['offer_type']

le = LabelEncoder()
y = le.fit_transform(y)

In [48]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=7, test_size=0.2)

In [24]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(10186, 28)
(2547, 28)
(10186,)
(2547,)

In [25]:
from sklearn.svm import SVC

modelSVC = SVC()
modelSVC.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [26]:
prediction = modelSVC.predict(X_test)

In [27]:
accuracy_score(y_test, prediction)

0.7412642324303101

In [28]:
from sklearn.ensemble import RandomForestClassifier
modelRFC = RandomForestClassifier(n_estimators=10)
modelRFC.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [29]:
predictionRFC = modelRFC.predict(X_test)
accuracy_score(y_test, predictionRFC)

0.7357675696898311

In [30]:
from sklearn.ensemble import GradientBoostingClassifier

modelGBC = GradientBoostingClassifier()
modelGBC.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='auto',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [31]:
predictGBC = modelGBC.predict(X_test)
accuracy_score(y_test, predictGBC)

0.7412642324303101

In [32]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.ensemble import GradientBoostingClassifier

parameters = {'n_estimators': [100, 150, 200], 
              'learning_rate': [0.1, 0.3, 1]}

scorer = make_scorer(accuracy_score)
clf = GradientBoostingClassifier()
grid_obj = GridSearchCV(clf, parameters, scorer, verbose=10)
grid_fit = grid_obj.fit(X_train, y_train)
best_clf = grid_fit.best_estimator_

Fitting 3 folds for each of 9 candidates, totalling 27 fits
[CV] learning_rate=0.1, n_estimators=100 .............................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] . learning_rate=0.1, n_estimators=100, score=0.734, total=   0.5s
[CV] learning_rate=0.1, n_estimators=100 .............................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.5s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=100, score=0.732, total=   0.5s
[CV] learning_rate=0.1, n_estimators=100 .............................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    1.0s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=100, score=0.730, total=   0.5s
[CV] learning_rate=0.1, n_estimators=150 .............................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    1.4s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=150, score=0.734, total=   0.7s
[CV] learning_rate=0.1, n_estimators=150 .............................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    2.1s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=150, score=0.732, total=   0.7s
[CV] learning_rate=0.1, n_estimators=150 .............................

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    2.8s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=150, score=0.729, total=   0.7s
[CV] learning_rate=0.1, n_estimators=200 .............................

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    3.5s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=200, score=0.732, total=   0.9s
[CV] learning_rate=0.1, n_estimators=200 .............................

[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    4.4s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=200, score=0.728, total=   1.0s
[CV] learning_rate=0.1, n_estimators=200 .............................

[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    5.4s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=200, score=0.727, total=   0.9s
[CV] learning_rate=0.3, n_estimators=100 .............................

[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    6.3s remaining:    0.0s

[CV] . learning_rate=0.3, n_estimators=100, score=0.727, total=   0.5s
[CV] learning_rate=0.3, n_estimators=100 .............................
[CV] . learning_rate=0.3, n_estimators=100, score=0.724, total=   0.5s
[CV] learning_rate=0.3, n_estimators=100 .............................
[CV] . learning_rate=0.3, n_estimators=100, score=0.723, total=   0.5s
[CV] learning_rate=0.3, n_estimators=150 .............................
[CV] . learning_rate=0.3, n_estimators=150, score=0.727, total=   0.7s
[CV] learning_rate=0.3, n_estimators=150 .............................
[CV] . learning_rate=0.3, n_estimators=150, score=0.722, total=   0.7s
[CV] learning_rate=0.3, n_estimators=150 .............................
[CV] . learning_rate=0.3, n_estimators=150, score=0.724, total=   0.7s
[CV] learning_rate=0.3, n_estimators=200 .............................
[CV] . learning_rate=0.3, n_estimators=200, score=0.728, total=   0.8s
[CV] learning_rate=0.3, n_estimators=200 .............................
[CV] . learning_rate=0.3, n_estimators=200, score=0.720, total=   0.8s
[CV] learning_rate=0.3, n_estimators=200 .............................
[CV] . learning_rate=0.3, n_estimators=200, score=0.725, total=   0.8s
[CV] learning_rate=1, n_estimators=100 ...............................
[CV] ... learning_rate=1, n_estimators=100, score=0.723, total=   0.4s
[CV] learning_rate=1, n_estimators=100 ...............................
[CV] ... learning_rate=1, n_estimators=100, score=0.716, total=   0.4s
[CV] learning_rate=1, n_estimators=100 ...............................
[CV] ... learning_rate=1, n_estimators=100, score=0.722, total=   0.5s
[CV] learning_rate=1, n_estimators=150 ...............................
[CV] ... learning_rate=1, n_estimators=150, score=0.718, total=   0.6s
[CV] learning_rate=1, n_estimators=150 ...............................
[CV] ... learning_rate=1, n_estimators=150, score=0.713, total=   0.7s
[CV] learning_rate=1, n_estimators=150 ...............................
[CV] ... learning_rate=1, n_estimators=150, score=0.724, total=   0.6s
[CV] learning_rate=1, n_estimators=200 ...............................
[CV] ... learning_rate=1, n_estimators=200, score=0.718, total=   0.8s
[CV] learning_rate=1, n_estimators=200 ...............................
[CV] ... learning_rate=1, n_estimators=200, score=0.713, total=   0.9s
[CV] learning_rate=1, n_estimators=200 ...............................
[CV] ... learning_rate=1, n_estimators=200, score=0.717, total=   0.9s

[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed:   18.2s finished

In [33]:
from sklearn.ensemble import AdaBoostClassifier

modelAda = AdaBoostClassifier()
modelAda.fit(X_train, y_train)
preds = modelAda.predict(X_test)
accuracy_score(y_test, preds)

0.7424420887318414

In [34]:
param_grid = {"base_estimator__criterion" : ["gini", "entropy"],
              "base_estimator__splitter" :   ["best", "random"],
              "n_estimators": [50, 100, 150, 200, 250, 300],
              "learning_rate": [0.003, 0.03, 0.3, 1]
             }

scorer = make_scorer(accuracy_score)
clf = AdaBoostClassifier()
grid_obj = GridSearchCV(clf, parameters, scorer, verbose=10)
grid_fit = grid_obj.fit(X_train, y_train)
best_clf = grid_fit.best_estimator_

Fitting 3 folds for each of 9 candidates, totalling 27 fits
[CV] learning_rate=0.1, n_estimators=100 .............................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] . learning_rate=0.1, n_estimators=100, score=0.728, total=   0.4s
[CV] learning_rate=0.1, n_estimators=100 .............................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.4s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=100, score=0.730, total=   0.4s
[CV] learning_rate=0.1, n_estimators=100 .............................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.8s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=100, score=0.729, total=   0.4s
[CV] learning_rate=0.1, n_estimators=150 .............................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    1.2s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=150, score=0.728, total=   0.6s
[CV] learning_rate=0.1, n_estimators=150 .............................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    1.8s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=150, score=0.730, total=   0.6s
[CV] learning_rate=0.1, n_estimators=150 .............................

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    2.4s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=150, score=0.729, total=   0.6s
[CV] learning_rate=0.1, n_estimators=200 .............................

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    3.0s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=200, score=0.728, total=   0.8s
[CV] learning_rate=0.1, n_estimators=200 .............................

[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    3.8s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=200, score=0.730, total=   0.8s
[CV] learning_rate=0.1, n_estimators=200 .............................

[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    4.6s remaining:    0.0s

[CV] . learning_rate=0.1, n_estimators=200, score=0.729, total=   0.7s
[CV] learning_rate=0.3, n_estimators=100 .............................

[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    5.3s remaining:    0.0s

[CV] . learning_rate=0.3, n_estimators=100, score=0.728, total=   0.4s
[CV] learning_rate=0.3, n_estimators=100 .............................
[CV] . learning_rate=0.3, n_estimators=100, score=0.730, total=   0.4s
[CV] learning_rate=0.3, n_estimators=100 .............................
[CV] . learning_rate=0.3, n_estimators=100, score=0.729, total=   0.4s
[CV] learning_rate=0.3, n_estimators=150 .............................
[CV] . learning_rate=0.3, n_estimators=150, score=0.728, total=   0.6s
[CV] learning_rate=0.3, n_estimators=150 .............................
[CV] . learning_rate=0.3, n_estimators=150, score=0.730, total=   0.6s
[CV] learning_rate=0.3, n_estimators=150 .............................
[CV] . learning_rate=0.3, n_estimators=150, score=0.728, total=   0.6s
[CV] learning_rate=0.3, n_estimators=200 .............................
[CV] . learning_rate=0.3, n_estimators=200, score=0.728, total=   0.8s
[CV] learning_rate=0.3, n_estimators=200 .............................
[CV] . learning_rate=0.3, n_estimators=200, score=0.730, total=   0.8s
[CV] learning_rate=0.3, n_estimators=200 .............................
[CV] . learning_rate=0.3, n_estimators=200, score=0.728, total=   0.8s
[CV] learning_rate=1, n_estimators=100 ...............................
[CV] ... learning_rate=1, n_estimators=100, score=0.728, total=   0.4s
[CV] learning_rate=1, n_estimators=100 ...............................
[CV] ... learning_rate=1, n_estimators=100, score=0.730, total=   0.4s
[CV] learning_rate=1, n_estimators=100 ...............................
[CV] ... learning_rate=1, n_estimators=100, score=0.728, total=   0.4s
[CV] learning_rate=1, n_estimators=150 ...............................
[CV] ... learning_rate=1, n_estimators=150, score=0.728, total=   0.6s
[CV] learning_rate=1, n_estimators=150 ...............................
[CV] ... learning_rate=1, n_estimators=150, score=0.730, total=   0.6s
[CV] learning_rate=1, n_estimators=150 ...............................
[CV] ... learning_rate=1, n_estimators=150, score=0.728, total=   0.6s
[CV] learning_rate=1, n_estimators=200 ...............................
[CV] ... learning_rate=1, n_estimators=200, score=0.728, total=   0.7s
[CV] learning_rate=1, n_estimators=200 ...............................
[CV] ... learning_rate=1, n_estimators=200, score=0.730, total=   0.8s
[CV] learning_rate=1, n_estimators=200 ...............................
[CV] ... learning_rate=1, n_estimators=200, score=0.728, total=   0.8s

[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed:   16.3s finished

In [35]:
accuracy_score(y_test, best_clf.predict(X_test))

0.7424420887318414